[submodule "sub1"]
	path = sub1
	url = https://github.com/zeronixspin/sub1.git
[submodule "sub3"]
	path = sub3
	url = https://github.com/zeronixspin/sub3.git
[submodule "sub2"]
	path = sub2
	url = https://github.com/zeronixspin/sub2.git
[submodule "folder1/sub2"]
	path = folder1/sub2
	url = https://github.com/zeronixspin/sub2.git
